<h3>Process Simulation Application</h3>
<div>
  <div>
    <label> Process Name: </label>
    <input type="text" [(ngModel)]="processName"/>
  </div>
  <div>
    <label> Process Capacity: </label>
    <input type="number" [(ngModel)]="processCapacity"/>
  </div>
  <div>
    <label> Work in progress Limit: </label>
    <input type="number" [(ngModel)]="workInProgressLimit"/>
  </div>
  <button type="button" (click)="addProcess()"> Add Process</button>

  <div>
    <div>
      <label> Task Name: </label>
      <input type="text" [(ngModel)]="taskName"/>
    </div>
    <div>
      <label> Effort needed for Task: </label>
      <input type="number" [(ngModel)]="taskEffort"/>
    </div>
    <button type="button" (click)="addTask()"> Add Task</button>
  </div>
  <button type="button" (click)="simulate()"> Iterate</button>
</div>

<div class = "flex-container" >
    <div class="flex-direction: row">
        <div class="process-box">
             <span class = "process">Backlog</span>
             <span class="arrow">
                 &rarr;
             </span>
         </div>
         <div class="task-box">
            <div class = "queue" *ngFor= "let task of backlog.taskList">
              {{task.name}} with effort = {{task.effort}} and remaining = {{task.remainingEffort}}
            </div>
          </div>
     </div>
    <div class="flex-direction: row" *ngFor= "let process of processList;  let i = index">
       <div class="process-box">
            <span class = "process">{{process.name}} with capacity = {{process.capacity}} and WIP {{process.workInProgressLimit}}</span>
            <span class="arrow" *ngIf="(i+1) < processList.length">
                &rarr;
            </span>
        </div>
        <div class="task-box">
        <div class = "queue" *ngFor= "let task of process.outputQueue.taskList">
                {{task.name}} with effort = {{task.effort}} and remaining = {{task.remainingEffort}}
        </div>
        </div>
    </div>
</div>

