h3 {
text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.process {
    background-color: orange;
    width: 80%;
}
.queue {
    background-color: burlywood;
    margin: 10%;
}
.process-box {
    margin: 10px;
    width: 100%;
}

.arrow {
    width: 20%;
}
