<h3>Process Simulation Application</h3>
<div>
    <button type="button" (click)="addProcess()"> Add Process</button>
    <button type="button" (click)="simulate()"> Iterate</button>
<div>
    <div class = "flex-container" *ngFor= "let process of processList">
        <div class = "process">{{process.name}}</div>
        <div class = "queue">{{process.outputQueue.taskList}}</div>
    </div>
    <div>
        <label> Process Name: </label>
        <input type ="text" [(ngModel)]="processName"/>
    </div>
    <div>
        <label> Process Capacity: </label>
        <input type ="number" [(ngModel)]="processCapacity"/>
    </div>
</div>
