<h3>Process Simulation Application</h3>
<div class="form flex-container">
  <div class="processForm flex-direction: column"> 
  <div>
    <input type="text" [(ngModel)]="processName" placeholder="Enter Process Name"/>
  </div>
  <div>
    <input type="number" [(ngModel)]="processCapacity" placeholder="Enter Process Capacity default is 1"/>
  </div>
  <div>
    <input type="number" [(ngModel)]="workInProgressLimit" placeholder="Enter  Work in progress Limit default is 1" />
  </div>
  <button type="button" (click)="addProcess()"> Add Process</button>
</div>
  <div class="taskForm flex-direction: column">
    <div>
      <input type="text" [(ngModel)]="taskName" placeholder="Enter Task Name"/>
    </div>
    <div>
        <input type="number" [(ngModel)]="taskEffort" placeholder="Effort needed for Task default is 1"/>
    </div>
    <button type="button" (click)="addTask()"> Add Task</button>
  </div>
</div>
<hr/>
<input type="button" (click)="simulate()" value="Iterate"/>
<input type="button" (click)="calculateAverageThroughput()" value ="Average throughput"/>
<input type = "text" [(ngModel)] = "avgThroughput"/>
<hr/>
<div class = "flex-container" >
    <div class="flex-direction: row">
        <div class="process-box">
             <span class = "process">Backlog</span>
             <span class="arrow">
                 &rarr;
             </span>
         </div>
         <div class="task-box">
            <div class = "queue" *ngFor= "let task of backlog.taskList">
              {{task.name}} with effort = {{task.effort}} and remaining = {{task.remainingEffort}}
            </div>
          </div>
     </div>
    <div class="flex-direction: row" *ngFor= "let process of processList;  let i = index">
       <div class="process-box">
            <span class = "process">{{process.name}} with capacity = {{process.capacity}} and WIP {{process.workInProgressLimit}}</span>
            <span class="arrow" *ngIf="(i+1) < processList.length">
                &rarr;
            </span>
        </div>
        <div class="task-box">
        <div class = "queue" *ngFor= "let task of process.outputQueue.taskList">
                {{task.name}} with effort = {{task.effort}} and remaining = {{task.remainingEffort}}
        </div>
        </div>
    </div>
</div>

